<c-row>

    <c-col class="col-md-4" style="margin: auto;padding: 5px;">
      <c-card class=" mt-4">
  
         <c-card-body>

    
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Provincia" class="form-control"  >
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Municipio" class="form-control"  >
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Distrito" class="form-control"  >
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Circunscripcion" class="form-control"  >
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Recinto" class="form-control">
            <input style="border-radius: 200px;padding: 10px;margin-top: 10px;" type="text" placeholder="Colegio" class="form-control"  >
    
        </c-card-body> 
      </c-card>
    </c-col>
    
    
    
    
    </c-row>
  
    
    
    <c-row>
    
      <c-col class="col-md-4" style="margin: auto;">
  
  
        <c-row>
          <c-col class="col-md-6" style="margin: auto;padding: 5px;">
            <c-card class="">
    
              <div class="card">
               
                <div class="card-body py-2 px-2">
                  <div class="row">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 px-4 py-2">
                      <label style="font-weight: 900; font-size: 45px;">53</label>
                      <label for="heard" style="margin-bottom: 14px;"><b>Comando Colegio Electoral</b></label> <br>
                    </div>
                    
        
                  </div>
                
                </div>
              </div>
        
            </c-card>
          </c-col>
  
          <c-col class="col-md-6" style="margin: auto;padding: 5px;">
            <c-card class="">
    
              <div class="card">
               
                <div class="card-body py-2 px-2">
                  <div class="row">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 px-4 py-2">
                      <label style="font-weight: 900; font-size: 45px;">353</label>
                      <label for="heard" style="margin-bottom: 14px;"><b>Comando Recinto Electoral</b></label> <br>
                    </div>
                    
        
                  </div>
                
                </div>
              </div>
        
            </c-card>
          </c-col>
        </c-row>

        <c-row>
  
  
          <c-col class="col-md-6 py-1" style="margin: auto;padding: 5px;">
            <c-card class="">
    
              <div class="card">
               
                <div class="card-body py-2 px-2">
                  <div class="row">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 px-4 ">
                      <label style="font-weight: 900; font-size: 45px;">32</label>
                      <label for="heard" style="margin-bottom: 14px;"><b>Delegados(CCE)</b></label><br>
                    </div>
                    
        
                  </div>
                
                </div>
              </div>
        
            </c-card>
          </c-col>
  
  
          <c-col class="col-md-6 py-1" style="margin: auto;padding: 5px;">
            <c-card class="">
    
              <div class="card">
               
                <div class="card-body py-2 px-2">
                  <div class="row">
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 px-4 ">
                      <label style="font-weight: 900; font-size: 45px;">5</label><br>
                      <label for="heard" style="margin-bottom: 14px;"><b>Reporteros(CCE)</b></label> <br>
                    </div>
                    
        
                  </div>
                
                </div>
              </div>
        
            </c-card>
          </c-col>
        </c-row>
        
  
      </c-col>
    
    
    
    </c-row>
  